<div class="jumbotron text-center font-weight-bold" id="jumbotron"  style="background: url({{site.url}}{{site.baseurl}}/img/bg.jpg) no-repeat scroll;background-size: cover;">
	<p class="display-4 text-white">刘梦恒 | 西野学社</p>
	<p class="text-white text-center" >天变不足畏，祖宗不足法，人言不足恤</p>
	<p class="text-white text-center" >Github: <a href="https://github.com/sherylman">Sherylman Liu</a></p>
	<p class="lead">
		<a class="btn btn-secondary" href="academic/2018/08/05/经济学学术刊物目录.html" role="button">What's New?</a>   
	</p>
</div>
